.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform ease-in-out 0.2s, border-color ease-in-out 0.2s;
	background-color: #ddd8c3;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid white;

	@media (max-width: 500px) {
		border: 1px solid;
	}

	@media (max-width: 665px) {
		border-radius: 7px;
	}
}

.hero img {
	border-radius: 10px;
	width: 140px;
	height: 140px;

	object-fit: cover;
	margin-bottom: 5px;

	@media (max-width: 665px) {
		width: 120px;
		height: 120px;
	}

	@media (max-width: 585px) {
		width: 100px;
		height: 100px;
	}
	@media (max-width: 505px) {
		width: 90px;
		height: 90px;
	}
	@media (max-width: 445px) {
		width: 80px;
		height: 80px;
	}
	@media (max-width: 402px) {
		width: 70px;
		height: 70px;
	}
	@media (max-width: 362px) {
		width: 60px;
		height: 60px;
	}

	@media (max-width: 332px) {
		width: 54px;
		height: 54px;
	}
}

.hero span {
	line-height: 1;
	color: rgb(9, 9, 9);
	display: block;
	font-size: 16px;
	font-weight: 700;
	transition: color ease-in-out 0.2s;

	@media (max-width: 665px) {
		font-size: 14px;
	}
	@media (max-width: 585px) {
		font-size: 13px;
	}
	@media (max-width: 505px) {
		font-size: 12px;
	}
	@media (max-width: 450px) {
		font-size: 11px;
	}
	@media (max-width: 400px) {
		font-size: 10px;
	}
	@media (max-width: 350px) {
		font-size: 9px;
	}
}

@media (hover: hover) {
	.hero:hover {
		transform: scale(1.05);
		border-color: #9f02d8;
	}

	.hero:hover.hero span {
		color: #9f02d8;
	}
}
