.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0 15px;

	@media screen and (max-width: 500px) {
		margin-bottom: 10px;
	}
}

.search-mode svg {
	width: 35px;
	height: 35px;
	@media (max-width: 650px) {
		width: 30px;
		height: 30px;
	}

	@media (max-width: 450px) {
		width: 25px;
		height: 25px;
	}

	@media (max-width: 400px) {
		width: 20px;
		height: 20px;
	}
}

.search-mode {
	font-size: 30px;

	font-weight: 600;
	@media (max-width: 750px) {
		font-size: 28px;
	}

	@media (max-width: 500px) {
		font-size: 25px;
	}

	@media (max-width: 400px) {
		font-size: 22px;
	}

	@media (max-width: 299px) {
		font-size: 19px;
	}
}

.search-mode {
	min-width: 300px;
	text-align: center;

	@media (max-width: 500px) {
		min-width: initial;
		width: 100%;
	}
}
